/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu, 
main,
footer{
    padding: 0.8rem 0.8rem;
}

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__header{
    display:flex;
    align-items: center;
}

.menu__header img{
    width: 24px;
    height: 24px;
    padding: 0 0.5rem;
}

.menu__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.menu__list{
    display:none;
}

.menu__list__item__contato{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

/*Sección Title*/
section.title{

}

.title__div{

}
.title__profile{
    width: 98px;
    height: 98px;
}

.title__container{

}

.title__bio{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.title__subsection{
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.title__network{
    
}

.title__network__item{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}


/*Sección About*/

section.about{
    background: #EAF2FD;
}

.about__container{
    
}

.about__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.about__paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    text-align: justify;
}

.about__container img{
    width: 140px;
    height: 52px;
}

/*Seccion Skills  */
section.skills {

}

.skills__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    margin: 40px 0;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:16px;
}

.skills__img{
    width: 28px;
    height: 37px;
}

.skills__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.skills__box ul{
    padding: 16px;
    margin: 0px;
}
.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 156px;
    height: 118px;
    background: #FFFFFF;
    gap: 8px;
}

/*Sección Hobbies*/

section.hobbies{
    
}

.hobbies__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    margin: 40px 0;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:16px;
}

.hobbies__img{
    width: 28px;
    height: 37px;
}

.hobbies__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.hobbies__box ul{
    padding: 16px;
    margin: 0px;
}

.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 156px;
    height: 118px;
    background: #FFFFFF;
    gap: 8px;
}

/* Experiencia Académica*/

section.academic{

}

.academic__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    margin: 40px 0;
}

.academic__courses{
    padding: 0 22px;
}
.academic__courses__box{
    width: 296px;
    height: 169px;
}
.academic__courses__list{
    padding: 0;
}
.academic__courses_item__img{
    /* padding: 0;
    margin: 0;
    text-align: center; */
    background: #ffffff;
}
.academic__courses_item__img img{
    width: 84px;
    height: 58px;
}


/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}